/* Base class */
.bs-docs {
	position: relative;
	margin: 15px 0;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

.bs-docs video{
	width: 100%;
}

/* Echo out a label for the example */
.bs-docs-local:after {
	content: "Your Video Signal";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Echo out a label for the example */
.bs-docs-remote:after {
	content: "Remote Video Signal";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

@media ( max-width : 768px){
	.bs-docs-local {
		width: 100px;
		height: 75px;
		top: -92px;
	}
	
	.bs-docs-local:after {
		padding: 1px 4px;
		font-size: 8px;
	}
}
@media ( max-width : 768px) and (orientation:portrait) {
	.bs-docs-remote{
		height: 50%;
	}
}

@media ( max-width : 768px) and (orientation:landscape) {
	.bs-docs-remote video{
		height: 70%;
	}
}