<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>drawing</display-name>
	<servlet>
		<servlet-name>RoadrunnerServlet</servlet-name>
		<servlet-class>de.skiptag.roadrunner.server.RoadrunnerWebSocketServlet</servlet-class>
		<init-param>
			<param-name>journalDirectory</param-name>
			<param-value>drawing-journal</param-value>
		</init-param>
		<init-param>
			<param-name>snapshotDirectory</param-name>
			<param-value>drawing-snapshots</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RoadrunnerServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
